{% extends 'base/base.html' %}

{% block content %}

    <section class="w-full grid grid-cols-2 gap-4 mt-10 justify-center p-4">

        <div class="">
            <h2 class="text-xl text-center font-bold mb-2">Agregar producto</h2>
            <form id="create-producto-form" action="POST">
                <input type="hidden" id="csrf_token" value="{{csrf_token}}" />

                <label for="name" class="font-bold">Nombre del producto</label>
                <input type="text" class="w-full border px-4 py-2" placeholder="Nombre del producto" name="name" required>
                
                <label for="precio" class="font-bold">Precio</label>
                <input type="number" class="w-full border px-4 py-2" placeholder="Precio" name="precio" required>

                <label for="localidad_id" class="font-bold mt-2">Localidad</label>
                <select type="datetime-local" class="w-full border px-4 py-2" name="localidad_id" required>
                    {% for localidad in localidades %}
 
                        <option value="{{localidad.id}}">{{localidad.name}}</option>

                    {% endfor %}
                </select>

                <!-- Button Section -->
                <div class="flex mt-2 justify-center w-full">
                    <button id="create-producto-button" class="bg-gray-800 text-white text-center font-semibold px-10 py-2 rounded-lg hover:bg-gray-600 transition">
                        Agregar
                    </button>
                </div>
            </form>

            <!-- Alerts section -->
            <div class="flex mt-2 justify-center text-center w-full">
                <p id="sucesss-create-text" class="hidden text-green-400 font-bold">Registro agregado correctamente</p>
                <p id="error-create-text" class="hidden text-red-400 font-bold">Error al agregar registro: <span id="error-create-message"></span></p>
                <p id="sucesss-delete-text" class="hidden text-green-400 font-bold">Registro eliminado correctamente</p>
                <p id="error-delete-text" class="hidden text-red-400 font-bold">Error al eliminar registro: <span id="error-delete-message"></span></p>
            </div>
            
        </div>

        <div class="">
            <h2 class="text-xl text-center font-bold mb-2">Reglas</h2>
            <p>Ningun campo debe de quedar vacio</p>
            <p>Mostrar mensaje de guardado o en caso de fallar</p>
            <p>El envio de información debe ser por medio del metodo FETCH de JS</p>
            <p>El precio del producto debe ser mayor a 0</p>
            <p>Solo se pueden agregar 10 productos al dia</p>
        </div>
    </section>

    <section class="w-full mt-2">
        <h1 class="text-3xl font-bold mb-2 px-10">Productos agregados hoy</h2>
        
    <div class="relative overflow-x-auto px-4">
        <table class="w-full text-center border text-sm text-left rtl:text-right text-gray-900 ">
            <thead class="text-xs text-white uppercase bg-gray-700 border">
                <tr>
                    <th scope="col" class="px-6 py-3 text-center border">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3 text-center border">
                        Precio
                    </th>
                    <th scope="col" class="px-6 py-3 text-center border">
                        Fecha Creación
                    </th>
                    <th scope="col" class="px-6 py-3 text-center border">
                        Localidad
                    </th>
                    <th scope="col" class="px-6 py-3 text-center border">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody id="recent-productos-table">
                {% for producto in productos %}

                <tr id="producto-{{producto.id}}" class="bg-white border border-gray-500">
                
                    <th scope="row" class="border text-center py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{producto.name}}
                    </th>
                    <td class="px-6 py-4 text-center border">
                        {{producto.precio}}
                    </td>
                    <td class="px-6 py-4 text-center border">
                        {{producto.created_at}}
                    </td>
                    <td class="px-6 py-4 text-center border">
                        {{producto.localidad_id.name}}
                    </td>
                    <td class="px-6 py-4 text-center border">
                        <!-- Button Section -->
                        <div class="flex mt-2 justify-center w-full">
                            <button onClick="deleteProducto({{producto.id}})" id="producto-delete-{{producto.id}}" 
                                class="bg-red-800 text-white text-center font-semibold px-10 py-2 rounded-lg hover:bg-gray-600 transition">
                                Eliminar
                            </button>
                        </div>
                    </td>
                    
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    </section>

{% endblock %}

{% block scripts %}
<script>
    // Need to create this route<
    const PRODUCTO_CREATE_URL = "{% url 'createProductoByFetch' %}"
    const PRODUCTO_DELETE_URL = "{% url 'deleteProductoByFetch' %}"
</script>

{% load static %}
<script src="{% static 'js/producto.js' %}"></script>

{% endblock %}
