{% extends 'base/base.html' %}

{% block content %}

    <div class="flex w-fgap-4 justify-center content-center gap-4 mt-4">
        {% load static %}
        <img src="{% static '/photos/Carnaval-4.jpg' %}" alt="Carnaval-4" class="w-auto h-94 object-cover"/>
        <img src="{% static '/photos/Carnaval-5.jpg' %}" alt="Carnaval-5" class="w-auto h-94 object-cover"/>
    </div>

    <div class="flex gap-4 justify-center content-center mt-4">
        {% load static %}
        <img src="{% static '/photos/Carnaval-1.avif' %}" alt="Carnaval-1" class="w-94 h-auto object-cover"/>
        <img src="{% static '/photos/Carnaval-2.jpg' %}" alt="Carnaval-2" class="w-94 h-auto object-cover"/>
        <img src="{% static '/photos/Carnaval-3.avif' %}" alt="Carnaval-3" class="w-94 h-auto object-cover"/>
    </div>

    <h2 class="text-6xl font-bold w-full text-center mt-10">Noticias</h2>

    <section class="w-full flex flex-row gap-4 mt-10 justify-center p-4">

        <div class="flex flex-col gap-4">
            {% for noticia in noticias %}
                {% include 'components/NoticiaCard.html' with noticia=noticia.title descripcion=noticia.description %}
            {% endfor %}
        </div>
        <div class="flex flex-col gap-4">
            {% for evento in eventos %}
                {% include 'components/EventoCard.html' with title=evento.name localidad=evento.localidad_id.name descripcion=evento.descripcion %}
            {% endfor %}
        </div>

    </section>

{% endblock %}

{% block scripts %}
{% endblock %}
