<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
</head>
<body>
    <h1>{{titulo}}</h1>
    <p>Total ordenes: {{total_orders}}</p>
    <p>Total pagos: {{total_payments}}</p>

    <div class="container">
        {% for order in orders %}
        <div>Id: {{order.id}} Total: {{order.total}}</div>
        {% endfor %}
    </div>

    <div class="container">
        {% for question in questions%}
        <div>
            {{question.id}} -
            {{question.question_text}}
        </div>
        {% endfor %}
    </div>
</body>
</html>