<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    {% load static %}
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <h1 class="text-6xl font-bold justify-center text-center w-full">Lista de Clientes sin Hogar</h1>

    <div class="container mx-auto p-6 flex gap-2 flex-wrap justify-center align-center">
        {% for user in users %}
            {% include 'components/UserCard.html' with name=user.name photo=user.photo id=user.id rfc=user.rfc email=user.email age=user.age created_date=user.created_date %}
        {% endfor %}
    </div>

</body>
</html>