<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    {% load static %}
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <h1 class="text-6xl font-bold justify-center text-center w-full">Lista de Clientes con Hogar</h1>

    <div class="container mx-auto p-6 flex gap-2 flex-wrap justify-center">
        {% for user in users %}
        <div class="bg-white shadow-md rounded-lg p-4 mb-4 border border-gray-200">
            <h2 class="text-xl font-semibold text-gray-800">User: {{ user.name }}</h2>
            <p class="text-gray-600">ID: <span class="font-medium">{{ user.id }}</span></p>
            <p class="text-gray-600">Email: <span class="font-medium">{{ user.email }}</span></p>
            <p class="text-gray-600">Age: <span class="font-medium">{{ user.age }}</span></p>
            <p class="text-gray-600">RFC: <span class="font-medium">{{ user.rfc }}</span></p>
            <p class="text-gray-600">Created: <span class="font-medium">{{ user.created_date }}</span></p>
    
            <!-- User Photo -->
            <div class="mt-4">
                <img src="{{ user.photo }}" alt="{{ user.name }}" class="w-24 h-24 rounded-full shadow-md border">
            </div>
    
            <!-- Addresses -->
            <div class="mt-4">
                <h3 class="text-lg font-semibold text-gray-700">Addresses:</h3>
                {% for address in user.usersaddress_set.all %}
                <div class="bg-gray-100 p-3 rounded-md mt-2 border">
                    <p class="text-gray-700">Street: <span class="font-medium">{{ address.street }}</span></p>
                    <p class="text-gray-700">Zip Code: <span class="font-medium">{{ address.zip_code }}</span></p>
                    <p class="text-gray-700">City: <span class="font-medium">{{ address.city }}</span></p>
                    <p class="text-gray-700">Country: <span class="font-medium">{{ address.country }}</span></p>
                </div>
                {% empty %}
                <p class="text-gray-500 italic">No address found.</p>
                {% endfor %}
            </div>
        </div>
        {% empty %}
        <p class="text-center text-gray-500">No users found.</p>
        {% endfor %}
    </div>    

</body>
</html>