{% extends 'base/base.html' %} 
{% block content %}

<div class="w-full h-full justify-center items-center content-center">
  <h1 class="text-6xl font-bold justify-center text-center w-full">
    Actualizar usuario
  </h1>

  <h3 class="text-center">{{message}} - {{status}} - {{user.name}}</h3>

  <form
    id="update-user-form"
    method="POST"
    action="{% url 'updateUserByFetch' user.id %}"
    class="bg-white h-auto flex flex-col justify-center items-center"
  >
    {% csrf_token %}

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required class="border" value="{{ user.name }}" />

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required class="border" value="{{ user.email }}" />

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required class="border" value="{{ user.age }}" />

    <label for="rfc">RFC:</label>
    <input type="text" id="rfc" name="rfc" required class="border" value="{{ user.rfc }}" />

    <label for="photo">Photo URL:</label>
    <input type="text" id="photo" name="photo" required class="border" value="{{ user.photo }}" />

    <button
      id="update-user-button"
      class="border bg-gray-300 font-bold w-[200px] mt-4"
      type="submit"
    >
      Update User
    </button>
  </form>

  <!-- Addresses -->
  <div class="mt-4 px-4">
    <h3 class="text-lg font-semibold text-gray-700">Addresses:</h3>
    {% for address in user.usersaddress_set.all %}
    <div class="bg-gray-100 p-3 rounded-md mt-2 border">
        <p class="text-gray-700">Street: <span class="font-medium">{{ address.street }}</span></p>
        <p class="text-gray-700">Zip Code: <span class="font-medium">{{ address.zip_code }}</span></p>
        <p class="text-gray-700">City: <span class="font-medium">{{ address.city }}</span></p>
        <p class="text-gray-700">Country: <span class="font-medium">{{ address.country }}</span></p>
    </div>
    {% empty %}
    <p class="text-gray-500 italic">No address found.</p>
    {% endfor %}
</div>

{% endblock %} {% block scripts %}

<script>
</script>
{% load static %}

{% endblock %}
